---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom font size adjustments */
.page__content p,
.page__content li {
    font-size: 0.85em; /* Adjust paragraph and list text size */
}

/* Optional: Adjust headings if needed */
.page__content h2 {
  font-size: 1.6em;
}

.page__content h3 {
  font-size: 1.3em;
}

/* Optional: Adjust line height for better readability */
.page__content p {
  line-height: 1.6;
}