---
# Only the main Sass file needs front matter (the dashes are enough)
search: false
---

@charset "utf-8";

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}"; // skin
@import "minimal-mistakes"; // main partials

/* Custom font size adjustments */
.page__content p,
.page__content li {
    font-size: 0.9em; /* Adjust paragraph and list text size */
}